
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100;
    border-radius: 10px;
}
.header {
    background-color: rgb(67, 62, 62);
    height: 100%;
    color: cornsilk;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.footer { 
    background-color: rgb(67, 62, 62);
    height: 80px;
    color: cornsilk;
}
.main {
    text-align: left;
    background-color: rgb(251, 134, 197);
    height: 300px;
    font-size: 24px;
    color: cornsilk;
}
.aside1 {
    background-color: rgb(177, 173, 173);
    color: cornsilk;
}
.aside2 {
    background-color: rgb(177, 173, 173);
    color: cornsilk;
}
@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .aside1{
       order: 1; 
    }
    .aside2{order: 2;
    }
    .main{ 
        order: 2;
    }
    .footer{
        order: 4;
    }
}
@media all and (min-width: 600px){
    .aside {
        flex: 1;
    }
}
#menu { 
    font-size: 120%;
    text-align: right;
    letter-spacing: 4px;
    line-height: 10px;
    color: inherit;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 2px solid;
}