.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;

    margin: 0;


}

.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100;
    border-radius: 10px;
    color: cornsilk;
}

.header {
    background-color: rgb(67, 62, 62);
    height: 100%;
    color: cornsilk;
    padding-left: 20px;

}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
    color: cornsilk;
}

.footer {
    background-color: rgb(67, 62, 62);
    height: 80px;
    color: cornsilk;
}

#footer-id {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
    color: cornsilk;
}

.main {
    text-align: left;
    background-color: rgb(251, 134, 197);
    height: 300px;
    font-size: 24px;
    color: cornsilk;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;

}

.aside1 {
    background-color: rgb(177, 173, 173);
    color: cornsilk;
    border-radius: 25px;
}

.aside2 {
    background-color: rgb(177, 173, 173);
    color: cornsilk;
    border-radius: 25px;
    text-align: center;
}

#aside2 {
    color: cornsilk;
    text-align: center;
}

@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}

#menu {
    font-size: 120%;
    text-align: right;
    letter-spacing: 4px;
    line-height: 10px;
    color: cornsilk;

}

#menu li a {
    list-style-type: none;
    margin-right: 30px;
    color: cornsilk;



}

ul {
    list-style-type: none;
}

.link {
    color: cornsilk;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#menu a:hover {
    border-bottom: 2px solid;
}

#quote {
    text-align: center;
    font-size: xx-large;
}

#quote-author {
    text-align: right;
    margin-right: 50px;
}

.what {
    text-align: center;
}

#women-image {
    height: 400px;
    width: 100%;
    background: url(/assets/images/pexels-cottonbro-7610405.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
}
#women-header {
    text-align: center;
    margin: 6vh;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(67, 62, 62);
}


/* creates the level of zoom for woman image */
@keyframes women-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* registration page */

.flex-outer li {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    padding: 10px;
    height: max-content;
}

.flex-outer>li>label {
    flex: 1 0 220px;
    max-width: 220px;
    padding: 10px;
}

.flex-outer>li>label+* {
    flex: 1 0 220px;

}

.flex-outer li button {
    padding: 8px 16px;
    border: none;
    background: rgb(67, 62, 62);
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 4px;
}

#submit {
    align-items: center;
    list-style-type: none;
}

#submit-position {
    display: flex;
    align-self: center;
    justify-content: center;
}


#form-style {
    background-color: rgb(251, 134, 197);
    color: cornsilk;
    font-family: Lata, sans-serif;
    padding: 50px;
}

/* aside 1*/
.responsive-video {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.responsive-video iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#online-classes {
    text-align: center;
    font-size: x-large;
    padding-top: 3vh;

}

footer {
    height: 150px;
    margin: 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

#footer-links {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top: 20px;
    padding-left: 10px;
}

#footer-register {
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding-top: 20px;

}

.footer-icons {
    justify-content: space-between;
}

.footer-icons>li {
    display: inline-flex;
    justify-content: space-evenly;


    text-align: center;
}

.footer-icons i {
    font-size: 160%;
    margin: 20px;
    padding: 5%;
    color: cornsilk;
    align-items: center;

}

.table {
    display: flex;
    text-align: center;
    justify-content: center;
    color: cornsilk;
    background-color: rgb(251, 134, 197);
    padding-left: 20%;
    padding-right: 20%;
    height: 80vh;
    font-size: larger;
    padding: 5px;

}

table {
    width: 100%;
    border: 3px solid cornsilk;

}

td {
    border: 3px solid cornsilk;
}

th {
    border: 3px solid cornsilk;
    background-color: rgb(150, 124, 139);
}