
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    color: cornsilk;
   e
}
.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100;
    border-radius: 10px;
    color: cornsilk;
}
.header {
    background-color: rgb(67, 62, 62);
    height: 100%;
    color: cornsilk;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.footer { 
    background-color: rgb(67, 62, 62);
    height: 80px;
    color: cornsilk;
}
.main {
    text-align: left;
    background-color: rgb(251, 134, 197);
    height: 300px;
    font-size: 24px;
    color: cornsilk;

}
.aside1 {
    background-color: rgb(177, 173, 173);
    color: cornsilk;
}
.aside2 {
    background-color: rgb(177, 173, 173);
    color: cornsilk;
}
@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .aside1{
       order: 1; 
    }
    .aside2{order: 2;
    }
    .main{ 
        order: 2;
    }
    .footer{
        order: 4;
    }
}
@media all and (min-width: 600px){
    .aside {
        flex: 1;
    }
}
#menu { 
    font-size: 120%;
    text-align: right;
    letter-spacing: 4px;
    line-height: 10px;
    color: cornsilk;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
    color: cornsilk;
}

#menu a:hover {
    border-bottom: 2px solid;
}

#quote {
    text-align: center;
    font-size: xx-large;
}
#quote-author{
    text-align: right;
    margin-right: 50px;
}
#hero-image {
    height: 400px;
    width: 100%;
    background: url('/assets/css/images/pexels-thirdman-8485839.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* registration page */

.flex-outer li {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.flex-outer > li > label
{
    flex: 1 0 220px;
    max-width: 220px;
}
.flex-outer > li >label + *{
    flex: 1 0 220px;
}
.flex-outer li  button {
    padding: 8px 16px;
    border: none;  
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 2px; 
}
#submit {
    align-items: center;
}